extends ./layout.jade

block content
  h2 Home page for Inderpreet Singh

  p
    img.float-right(
      src='/assets/images/inder-display-300x300.jpg',
      height=300,
      width=300,
      alt="Inderpreet Singh",
      title="Inderpreet Singh")
    h3 Software Engineer, Startup Guy and a Bad User
    | I love collaborating and working with dynamic teams to build high impact applications.
    | Co-founded 
    a(href="http://bumr.co")= "Katchall (Bumr App)"
    | and currently building stuff at 
    a(href="http://www.manage.com")= "Manage.com"
    |. In the past I have had the priveledge of working at several other companies like 
    a(href="http://www.tapjoy.com")= "Tapjoy"
    = ", "
    a(href="http://www.tellapart.com")= "TellApart"
    = " and "
    a(href="http://www.intel.com")= "Intel"
    |, to name a few.
    | I have a keen interest in Environmental, Socio-Economic and Human Rights issues and the role technology can play in these areas.
  p
    | You can contact me at inder [at] this website name.

