extends ./layout.jade

block content
  section
    h1.page-title= "Engineering Change"
    div.captioned-image
      img(
        alt="Inderpreet Singh",
        title="Inderpreet Singh"
        src='/assets/images/inder-display-960x960.jpg',
      )
      div.caption
        = "Inderpreet Singh"
    p
      | I love collaborating and working with dynamic teams to build high impact applications.
      | Co-founded 
      a(href="http://bumr.co")= "Katchall (Bumr App) "
      | and currently building stuff at 
      a(href="http://www.manage.com")= "Manage.com"
      |. In the past I have had the priveledge of working at several other companies like 
      a(href="http://www.tapjoy.com")= "Tapjoy"
      = ", "
      a(href="http://www.tellapart.com")= "TellApart"
      = " and "
      a(href="http://www.intel.com")= "Intel"
      |, to name a few.
    p
      | I have a keen interest in Environmental, Socio-Economic and Human Rights issues and the role technology can play in these areas.
    p
      | You can contact me at inder [at] this website name.

